{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": ["> 1%", "not ie <= 8"]
        }
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    ["@babel/plugin-transform-runtime", { "corejs": 3 }],
    "@babel/plugin-syntax-dynamic-import"
  ]
}
